<!DOCTYPE html>
<html lang="jp" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="&copy;Kiramei" />
		<meta name="keywords" content="Kiramei,kiramei,キラメイ,きらめい" />
		<meta name="description" content="This is Kiramei's official site. Activities are posted here">
		<meta name="viewport"
			content="width=device-width,initial-scale=1.0,maximum-scale=0.5,minimum-scale=2.0,user-scalable=no" />
		<meta name="robots" content="index,follow" />
		<title>Kiramei Official Site</title>
		<link rel="icon" type="image/x-icon" href="fav.ico" />
		<link rel="stylesheet" href="css/style.css" />
		<link href="https://cdn.bootcdn.net/ajax/libs/aplayer/1.10.1/APlayer.min.css" rel="stylesheet">
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.39/vue.global.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>

		<script type="text/javascript" src="js/script.js"></script>
	</head>
	<body>
		<div id="loader">
			<img src="img/logo.png" draggable="false" alt="" />
		</div>
		<div id="fade">
		</div>
		<section class="wt">
			<div class="pach">
				<div class="rag">
					<a href="javascript:document.querySelector('#sp').scrollTo(0,0);">
						<img src="img/top.png" alt="" /></a>
				</div>
				<div class="fi" id="topTitle">
					<title-box @click="select" v-if="isShow" v-for="item in titles" :title="item"></title-box>
				</div>
				<div class="settings" id="sm">
					<svg @click="change" t="1656759118430" class="icon" viewBox="0 0 1024 1024" version="1.1"
						xmlns="http://www.w3.org/2000/svg" p-id="2256" width="30" height="50">
						<path
							d="M437.333333 224C437.333333 183.466667 471.466667 149.333333 512 149.333333s74.666667 34.133333 74.666667 74.666667S552.533333 298.666667 512 298.666667s-74.666667-34.133333-74.666667-74.666667zM439.466667 512c0-40.533333 34.133333-74.666667 74.666666-74.666667s74.666667 34.133333 74.666667 74.666667-34.133333 74.666667-74.666667 74.666667-74.666667-34.133333-74.666666-74.666667zM437.333333 800c0-40.533333 34.133333-74.666667 74.666667-74.666667s74.666667 34.133333 74.666667 74.666667S552.533333 874.666667 512 874.666667s-74.666667-34.133333-74.666667-74.666667z"
							fill="#6c6666" p-id="2257"></path>
					</svg>
					<ul class="setting-menu" v-show="flag">
						<li class="link">
							<a href="https://music.163.com/#/artist?id=34227281">
								<div class="text">Cloud Music ページへ</div>
							</a>
						</li>
						<li class="link" id="bili">
							<a href="https://space.bilibili.com/43914903">
								<div class="text">Bilibili ページへ</div>
							</a>
						</li>
						<li class="link" id="git">
							<a href="https://github.com/Kiramei">
								<div class="text">Github ページへ</div>
							</a>
						</li>
						<li class="link" id="close" @click="close">
							<div class="text">× Close</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<div class="scrollPane" id="sp" @scroll="scrollToTop">
			<div class="scrollbar"></div>
			<div class="top">
				<div id="top">
					<div class="layer" data-depth="0.0">
						<img src="img/top.png" alt="" />
					</div>
				</div>
				<div class="d">
					<div class="form">
						Scroll To See More<br />|
					</div>
					<div class="news">
						<div class="title">
							News
						</div>
					</div>
					<div class="news_pane" id="newsP">
						<news-box v-for="item in news" :new_="item"></news-box>
					</div>
					<div class="news_nav"></div>
					<div class="musics">
						<div class="title">
							Music
						</div>
					</div>
					<div class="music_pane">
						<div class="music_list">
							<div class="list" id="msList">
								<music-box v-for="item in musics" :music="item"></music-box>
							</div>
						</div>
						<div class="music_controller">
							<div id="aplayer"></div>
						</div>

					</div>
					<div class="movies">
						<div class="title">
							Movie
						</div>
					</div>
					<div class="movies_pane" id="mvList">
						<div class="movie-lists">
							<movie-box v-for="item in movies" @click="select" :movie="item"></movie-box>
						</div>
						<div class="movie-display">
							<iframe id="video" width="120%" height="380px" scrolling="no" border="0" frameborder="no"
								framespacing="0" allowfullscreen="allowfullscreen" :src="currentUrl"></iframe>
						</div>
					</div>
					<div class="gallery">
						<div class="title">
							Galley
						</div>
					</div>
					<div class="gallery_pane">
					</div>
				</div>
				<div id="end">
					<img src="img/top.png" alt="" />
				</div>
			</div>
		</div>
		<div id="backer" class="s">
			<img id="t" src="img/background/bk.webp" alt="" />
		</div>
		<div class="beian"><a href="http://beian.miit.gov.cn/" target="_blank">沪ICP备20005789号</a></div>
	</body>
</html>
